*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #704b1c;
  padding: 5px;
}

.logo{
  color: #d8d9D6;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 30px;
  list-style: none;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.nav-links li{
  list-style: none;
  font-size: 14px;
  color: #d8d9D6;
  cursor: pointer;
  margin-top: 17px;
}

.nav-links a{
  color: #d8d9D6;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: #d8d9D6;
  margin: 5px;
  transition: all 0.3s ease;
}

.carrito {
  height: 30px;
  align-items: center;
  margin-top: -8px;
}

/* @media screen and (max-width:1424px){
  .nav-links{
      display: flex;
      justify-content: space-around;

  }
  
} */


@media screen and (max-width:968px){
  body{
      overflow-x: hidden;
  }

  .nav-links{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: #704b1c;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translatex(100%);
      transition: transform 0.5s ease-in;
  }



  .nav-links li{
      opacity: 0;
  }

  .burger{
      display: block;
  }

  
  /* .nav {
  z-index: 0 !important;
  } */

  
}

.nav-active{
  transform: translate(0%);
}

@keyframes navlinkfade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }

  to{
      opacity: 1;
      transform: translateX(0px);

  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-6px,6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-6px,-6px);
}


